.img-mapper-img {
	position: relative;
	width: 100%;
	border-radius: 1rem;
	transition: all 500ms ease-in-out;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.img-mapper-img:hover {
	border-radius: 1.5rem;
	transform: scale(1.02);
	filter: hue-rotate(15deg);
	filter: drop-shadow(0 25px 25px rgba(69, 68, 68, 0.15));
}

@media screen and (min-width: 345px) and (max-width: 560px) {
	.img-mapper-img {
		margin-inline: auto;
		width: -moz-fit-content;
		width: fit-content;
	}
}

@media screen and (min-width: 876px) {
	.img-mapper-img {
		width: 500px;
	}
}

@media screen and (min-width: 1024px) {
	.img-mapper-img {
		width: 600px;
	}
}
